{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans 'Tasks' %}</h1>
<a class="btn btn-primary mb-3" href="{% url 'create_task' %}">{% trans 'Create task' %}</a>

{% bootstrap_messages %}


<div class="card mb-3">
    <div class="card-body bg-light">
        <form method="get" class="form-inline center">
            {% bootstrap_form filter.form %}
            
            <button type="submit" class="btn btn-primary">{% trans 'Apply filters' %}</button>

        </form>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr class="table">
        <th>ID</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Author' %}</th>
        <th>{% trans 'Executor' %}</th>
        <th>{% trans 'Created' %}</th>
        <th>{% trans 'Action' %}</th>
    </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:"d.m.Y" }}</td>
            <td>                   
                <a href="{% url 'update_task' task.id %}">{% trans 'Update' %}</a>
                </br>
                <a href="{% url 'delete_task' task.id %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}